<%-include("partials/header.ejs")-%>





    <!-- taking data from server -->
    <!-- using scirptlet tag to add javascript -->
    <%newposts.forEach(function(post){%>
        <!-- taking data from server using <%= %> tag -->
        <h1>
            <%= post.title%>
        </h1>
        <p>
            <%=post.content.substring(0,100)+ "..."  %>
                <a href="/post/<%=post._id%>">Read more</a>
        </p>
        <%})%>

            <!-- including headers and footer -->
            <%-include("partials/footer.ejs")-%>