<%-include("partials/header.ejs")-%>





    <h1>
        <%= tit  %>
    </h1>
    <p>
        <%=top %>
    </p>

    <form action="/delete" method="post">

        <button type="submit" name="del" value="<%=id  %>"> Delete this Blog </button>
    </form>

    <a href="/edit/<%=id%>"><button>Edit</button></a>

    <%-include("partials/footer.ejs")-%>